<h1 mat-dialog-title>{{movie.name}}</h1>
<div *ngIf='!isAdmin' class="example-card" mat-dialog-content>
    <img src={{movie.poster}} alt="Photo of {{movie.name}}">
    <div class="info">
        <mat-list role="list">
            <mat-list-item role="listitem">
                <span>Genre: </span>
                <span class="value">{{movie.genre}}</span>
            </mat-list-item>
            <mat-list-item role="listitem">
                <span>Name: </span>
                <span class="value">{{movie.name}}</span>
            </mat-list-item>
            <mat-list-item role="listitem">
                <span>Director: </span>
                <span class="value">{{movie.director}}</span>
            </mat-list-item>
            <mat-list-item role="listitem">
                <span>IMDB Score: </span>
                <span class="value">{{movie.imdb_score}}</span>
            </mat-list-item>
            <mat-list-item role="listitem">
                <span>Popularity: </span>
                <span class="value">{{movie.popularity}}</span>
            </mat-list-item>
        </mat-list>
    </div>
</div>
<div *ngIf='isAdmin' class="example-card" mat-dialog-content>
    <img src={{movie.poster}} alt="Photo of {{movie.name}}">
    <div class="info" [formGroup]="controller">
        <mat-list role="list">
            <mat-list-item role="listitem">
                <span>Genress: </span>
                <span class="value">
                    <mat-form-field appearance="fill">
                        <mat-select formControlName="genreControl" multiple>
                          <mat-option *ngFor="let genre of genres" [value]="genre">{{genre}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                </span>
            </mat-list-item>
            <mat-list-item role="listitem">
                <span>Name: </span>
                <span class="value">
                    <mat-form-field appearance="legacy">
                        <input matInput disabled value={{movie.name}}>
                    </mat-form-field>
                </span>
            </mat-list-item>
            <mat-list-item role="listitem">
                <span>Director: </span>
                <span class="value">
                    <mat-form-field appearance="legacy">
                        <input matInput  formControlName="directorControl" value={{movie.director}}>
                    </mat-form-field>
                </span>
            </mat-list-item>
            <mat-list-item role="listitem">
                <span>IMDB Score: </span>
                <span class="value">
                    <mat-form-field appearance="legacy">
                        <input matInput formControlName="imdbControl" value={{movie.imdb_score}}>
                    </mat-form-field>
                </span>
            </mat-list-item>
            <mat-list-item role="listitem">
                <span>Popularity: </span>
                <span class="value">
                    <mat-form-field appearance="legacy" >
                        <input matInput formControlName="popularityControl" value={{movie.popularity}}>
                    </mat-form-field>
                </span>
            </mat-list-item>
        </mat-list>
    </div>
</div>
<div mat-dialog-actions align="end">
    <button *ngIf='isAdmin' mat-button [mat-dialog-close]="true" (click)="deleteMovie()">Delete</button>
    <button *ngIf='isAdmin' mat-button [mat-dialog-close]="true" (click)="updateMovie()">Update</button>
    <button mat-button mat-dialog-close>Close</button>
</div>